#!/usr/bin/env bash



# example to call this fuunction wait_instances compute01
function wait_instances () {
    echo "Waiting till all instances are up"
    sleep 25;
    servers_building=`openstack server list --host $1 | grep "BUILD" -c`
    until [ $servers_building  -eq 0 ]; do
        echo $servers_building
        sleep 15
        servers_building=`openstack server list --host $1 | grep "BUILD" -c`
    done
}

function wait_stack () {
    echo "Waiting till stack is created"
    sleep 10;
    stacks_creating=`heat stack-list | grep CREATE_IN_PROGRESS -c`
    until [ $stacks_creating  -eq 0 ]; do
        echo $stacks_creating
        sleep 10
        stacks_creating=`heat stack-list | grep CREATE_IN_PROGRESS -c`
    done
}

# to call this function: describe_environment workload_vms file_name flavor_used
function describe_environment() {

  workload_vms=$1
  cat >> $2 << EOF
All instances are up and running;
--> testing the current environment:
     `echo $workload_vms | cut -d' ' -f1` VMs, `echo $workload_vms | cut -d' ' -f2` VMs, `echo $workload_vms | cut -d' ' -f3` VMs, `echo $workload_vms | cut -d' ' -f4` VMs
     flavor of workloads used is $3
EOF

}

function get_specs_server() {
ip=$1
ssh -q -o StrictHostKeyChecking=no root@$ip << EOF
  echo 'start'
  printf "specs for server $ip"
  printf '\nCPU info: ---------->\n'
  lscpu | grep ^CPU\(s\):
  printf '\nmemory info: ---------->\n'
  vmstat -s | grep memory
  printf '\ndisk info: ---------->\n'
  lsblk -io KNAME,TYPE,SIZE,MODEL
  printf '\nnetwork devices info: ---------->\n'
  lspci | grep -i eth
EOF
}
