#!/bin/bash

network="bc1b0934-3343-4fca-806e-3bad82205261"
key_name="lm_key"
image_name="Ubuntulm14"
influx_ip=`cat /etc/openstack_deploy/openstack_user_config.yml | grep internal_lb_vip_address | awk '{print $2}' | tr -d '"'`
export INFLUXDB_HOST=$influx_ip
stack_name="lm_test$RANDOM"
host_to_evacuate='compute04'
destination_host='compute07'
# define workload_vms as: ( number of cpu vms, number of ram vms number of diskIO vms, number of network vms )
workloads_vms=(1-spark 0-generic_cpu_final 0-generic_ram 0-generic_disk 0-generic_network)
DEPLOY_WORKLOADS=FALSE
ITERATIONS=500
environment_type[0]="heat_param_small"
lv_results_file="/opt/lvm_results_""$environment_type"".txt"
downtime_info="downtime_info""$environment_type"".dat"
